# Telegram Bot Configuration
# Получите токен бота у @BotFather в Telegram
TELEGRAM_BOT_TOKEN=8553923573:AAG4K_FidS_iHzIeftCxHoBX8kujfYAV5CA

# ID чата или канала для получения заявок
# Для получения ID чата, отправьте сообщение боту и используйте
# https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates
TELEGRAM_CHAT_ID=7118891439
